.button {
    height: 3rem;
    width: 8.82rem;
    background-color: #5964E0;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #939BF4;
}